/* Font import, variables */

:root {
    font-family: 'Epilogue', sans-serif;
    --clr-almost-white: hsl(0, 0%, 98%);
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-almost-black: hsl(0, 0%, 8%);
    
    /* Default values are for 320px */
    /* fs - font-size
    w - width
    pt - padding-top
    lh - line-height */
    --var-menu-text-fs: 12px;

    --var-menu-icon-h: 16px;
    --var-menu-icon-mb: -2px;

    --var-menu-logo-w: 84px;
    --var-menu-logo-h: 28px;

    --var-menu-btn-fs: 12px;
    --var-menu-btn-pt: 5px;
    --var-menu-btn-h: 40px;
    --var-menu-btn-w: 0;

    --var-menu-first-mt: 60px;
    --var-menu-item-margin: 20px 25px 20px 25px;
    --var-menu-submenu-margin: 20px 25px 20px 25px;
    --var-menu-btn-margin: 12px 25px 10px 25px;
    /* If 0, then not used in that layout */

    --var-intro-header-fs: 28px;
    --var-intro-text-fs: 14px;
    --var-intro-text-lh: 1.1em;

    --var-intro-btn-h: 48px;
    --var-intro-btn-w: 138px;
    --var-intro-btn-fs: 16px;
    --var-intro-btn-lh: 1em;
    --var-intro-btn-pt: 5px;

    --var-intro-logos-fs: 2.5vw;
}

@media (min-width: 374px) {
    /* for transparency's sake, all vars are redefined per media query during development
    TODO: remove unchanged vars from media queries */
    :root {
        --var-menu-text-fs: 14px;
    
        --var-menu-icon-h: 20px;
        --var-menu-icon-mb: -4px;
        --var-menu-logo-w: 84px;
        --var-menu-logo-h: 28px;

        --var-menu-logo-w: 84px;
        --var-menu-logo-h: 28px;
    
        --var-menu-btn-fs: 14px;
        --var-menu-btn-pt: 5px;
        --var-menu-btn-h: 50px;
        --var-menu-btn-w: 0;

        --var-menu-first-mt: 82px;
        --var-menu-item-margin: 32px 25px 20px 25px;
        --var-menu-submenu-margin: 20px 25px 16px 25px;
        --var-menu-btn-margin: 12px 25px 20px 25px;
    
        --var-intro-header-fs: 35px;
        --var-intro-text-fs: 17px;
        --var-intro-text-lh: 1.6em;
    
        --var-intro-btn-h: 50px;
        --var-intro-btn-w: 150px;
        --var-intro-btn-fs: 17px;
        --var-intro-btn-lh: 1em;
        --var-intro-btn-pt: 3px;
    
        --var-intro-logos-fs: 2.13vw;
    }
}

@media (min-width: 480px) {
    :root {
        --var-intro-header-fs: 35px;
        --var-intro-text-fs: 17px;
        --var-intro-text-lh: 1.6em;
    
        --var-intro-btn-h: 50px;
        --var-intro-btn-w: 150px;
        --var-intro-btn-fs: 17px;
        --var-intro-btn-lh: 1em;
        --var-intro-btn-pt: 3px;
    
        --var-intro-logos-fs: 2.13vw;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {
    :root {
        /* --var-menu-text-fs: 0; */
    
        /* --var-menu-icon-h: 0;
        --var-menu-icon-mb: 0; */
    
        /* --var-menu-logo-w: 0;
        --var-menu-logo-h: 0; */
    
        /* --var-menu-btn-fs: 0;
        --var-menu-btn-pt: 0;
        --var-menu-btn-h: 0;
        --var-menu-btn-w: 0; */
    
        /* --var-menu-first-mt: 0;
        --var-menu-item-margin: 0;
        --var-menu-submenu-margin: 0;
        --var-menu-btn-margin: 0; */
    
        --var-intro-header-fs: 80px;
        --var-intro-text-fs: 20px;
        --var-intro-text-lh: 1.6em;
        --var-intro-h: 72vh;
    
        --var-intro-btn-h: 59px;
        --var-intro-btn-w: 166px;
        --var-intro-btn-fs: 19px;
        --var-intro-btn-pt: 1px;
    
        --var-intro-logos-fs: 0.9vw;
    }
}