/* 

███    ███  ██████  ██████  ██ ██      ███████ 
████  ████ ██    ██ ██   ██ ██ ██      ██      
██ ████ ██ ██    ██ ██████  ██ ██      █████   
██  ██  ██ ██    ██ ██   ██ ██ ██      ██      
██      ██  ██████  ██████  ██ ███████ ███████ 
                                               

*/

/* TODO: merge all redundant selectors */

/* Resetting */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

:where(*) {
    margin: 0; padding: 0;
}

h1 {
    margin: 0;
}

p {
    /* Make paragraphs center vertically by default */
    margin: auto 0;
}

/* Resetting ul, li */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

/* decorative for menu items */

.menu-header.icon-menu {
    visibility: visible;
    display: block;
    position: absolute;
    z-index: 1010;
    top: 32px;
    right: 32px;
    transform: translate(50%, -50%);
    width: 32px;
    height: 18px;
    background-image: url(../assets/icon-menu.svg);
}

.toggle.toggled > .menu-header.icon-menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon-close-menu.svg);
}

.toggle.toggled > .menu-header.dropdown::after {
    background-image: url(../assets/icon-arrow-up.svg);
}

.menu-header.dropdown::after {
    display: inline-block;
    content: ' ';
    width: 10px;
    height: 6px;
    margin-left: 18px;
    margin-bottom: 2px;
    background-image: url(../assets/icon-arrow-down.svg);
    background-size: 10px 6px;
}


/* menu toggle dropdown functionality */
.main-menu {
    visibility: hidden;
    /* height: 0; */
}
.main-menu > :where(ul, li) {
    visibility: hidden;
    font-size: var(--var-menu-text-fs);
}

.menu > :where(ul, li) {
    display:none;
}

/* if toggle is toggled, the menu next to it gets rendered */
.toggle.toggled > .main-menu {
    visibility: visible;
}
.toggle.toggled > .menu > :where(ul, li) {
    visibility: visible;
    display: block;
}

/* Specifically for the main manu */
.toggle.toggled > .menu.main-menu {
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    top: 0%;
    right: 0%;
    /* when focused, expand menu to 100% height and  */
    width: 240px;
    height: 100%;
    z-index: 1000;
}

/* Transparent black backdrop */

.backdrop {
    /* Using visibility:hidden instead of display: none for two reasons.
    1) display: none is excluded from DOM, so its child (the icon menu-header) wouldn't be rendered
    2) toggling display on and off is costly, as the entire DOM gets re-rendered; visibility:hidden is cheaper, as the element is pre-rendered */
    visibility: hidden;
}

.backdrop.toggled {
    visibility: visible;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 30%);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

/* Styling of elements in the main menu */
.menu.main-menu > :where(ul, li) {
    /* margin: 32px 25px 20px auto; */
    margin: var(--var-menu-item-margin);
}


/* First non-icon element in the menu gets a special place in this hell 
Good grief, this is disgusting
TODO: find a saner way to position the entire navbar or at least LOOK for a saner way */
.menu.main-menu > :first-child {
    margin-top: var(--var-menu-first-mt);
}

/* Styling of items in the submenus */

.submenu .item {
    margin: var(--var-menu-submenu-margin);
}

.submenu .item+.item {
    margin-top: 24px;
}

.item.icon::before {
    display: inline-block;
    content: ' ';
    margin-right: 14px;
    box-sizing: border-box;
    width: var(--var-menu-icon-h);
    height: var(--var-menu-icon-h);
}

.item.icon.list::before {
    background-image: url(../assets/icon-todo.svg);
    background-size: var(--var-menu-icon-h) var(--var-menu-icon-h);
    margin-bottom: var(--var-menu-icon-mb);
}

.item.icon.calendar::before {
    background-image: url(../assets/icon-calendar.svg);
    background-size: var(--var-menu-icon-h) var(--var-menu-icon-h);
    margin-bottom: var(--var-menu-icon-mb);
}

.item.icon.bell::before {
    --var-menu-icon-w: calc(0.8 * var(--var-menu-icon-h));
    margin-left: 2px;
    margin-right: 16px;
    width: var(--var-menu-icon-w);
    background-image: url(../assets/icon-reminders.svg);
    background-size: var(--var-menu-icon-w) var(--var-menu-icon-h);
    margin-bottom: var(--var-menu-icon-mb);
}

.item.icon.clock::before {
    background-image: url(../assets/icon-planning.svg);
    background-size: var(--var-menu-icon-h) var(--var-menu-icon-h);
    margin-bottom: var(--var-menu-icon-mb);
}

/* Mobile styling */

body {
    background-color: var(--clr-almost-white);
}

.navbar .logo {
    width: var(--var-menu-logo-w);
    height: var(--var-menu-logo-h);
    margin: 24px auto 24px 17px;
}

.intro .hero-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.intro .hero-img img.desktop {
    display: none;
}

.intro .hero-img img.mobile {
    display: block;
}

.intro .header {
    text-align: center;
    font-size: var(--var-intro-header-fs);
    width: 90%;
    /* margin: 50px auto 28px auto; */
}

.intro .text {
    text-align: center;
    font-size: var(--var-intro-text-fs);
    line-height: var(--var-intro-text-lh);
    width: 90%;
    /* margin: auto auto 28px auto; */
}

/* Fluid spacing via separators; replaces margins for .cta's children */

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.intro .hero-img {
    display: block;
}

.intro .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: var(--var-intro-h);
}

.intro .cta > * {
    flex-grow: 0;
}

.intro .cta > .separator {
    display: block;
    flex-grow: 2;
}

.intro .cta > .separator:nth-of-type(1) {
    /* gap from top to button */
    flex-grow: 3;
}
.intro .cta > .separator:nth-of-type(4) {
    /* gap from button to logos */
    flex-grow: 3;
}
.intro .cta > .separator:last-of-type {
    /* gap after logos */
    flex-grow: 3;
}


.btn {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.btn.bg-black {
    background-color: var(--clr-almost-black);
    color: var(--clr-almost-white);
    border-color: var(--clr-almost-black);
    border-width: 2px;
    border-style: solid;
}

.btn.bg-black:hover {
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
}

.btn.bg-white {
    background-color: var(--clr-almost-white);
    color: var(--clr-medium-gray);
}

.btn.bg-white:hover {
    color: var(--clr-almost-black);
}

.btn.border-black {
    border-color: var(--clr-almost-black);
    border-width: 2px;
    border-style: solid;
}

.btn.border-white {
    border-color: var(--clr-almost-white);
    border-width: 2px;
    border-style: solid;
}

.intro .btn {
    font-size: var(--var-intro-btn-fs);
    width: var(--var-intro-btn-w);
    height: var(--var-intro-btn-h);
    /* margin: auto auto 48px auto; */
    font-weight: 500;
}

.intro .btn > p {
    line-height: 1em;
    padding-top: var(--var-intro-btn-pt);
}

.navbar .item-button {
    margin: var(--var-menu-btn-margin);
}

.navbar .btn {
    font-size: var(--var-menu-btn-fs);
    height: var(--var-menu-btn-h);
    max-width: 100%;
    margin: auto;
}

.navbar .btn > p {
    /* Compensating for the font's vertical failure to center */
    line-height: 1em;
    padding-top: var(--var-menu-btn-pt);
}

.client-logos {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    /* setting fixed font-size to make all images's widths depend on it via em */
    /* font-size: 8px */
    font-size: var(--var-intro-logos-fs);
    width: 90%;
}

.client-logos > * {
    flex-grow: 0;
}

.client-logos > .separator {
    display: inline-block;
    flex-grow: 1;
}

.client-logos > .desktop-separator {
    display: none;
}


.client-logos img {
    align-self: center;
    justify-self: center;
    object-fit: fill;
}

.client-logos img:nth-of-type(1) {
    /* width: 80px; */
    /* width: 21vw; */
    width: 10em;
}

.client-logos img:nth-of-type(2) {
    /* width: 52px; */
    /* width: 14vw; */
    width: 6.5em;
}

.client-logos img:nth-of-type(3) {
    /* width: 63px; */
    /* width: 17vw; */
    width: 7.875em;
}

.client-logos img:nth-of-type(4) {
    /* width: 58px; */
    /* width: 16vw; */
    width: 7.25em;
}

/* 

██████  ███████ ███████ ██   ██ ████████  ██████  ██████  
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██ 
██   ██ █████   ███████ █████      ██    ██    ██ ██████  
██   ██ ██           ██ ██  ██     ██    ██    ██ ██      
██████  ███████ ███████ ██   ██    ██     ██████  ██  

*/


@media (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    /* Functionality for  */

    .menu-header.icon-menu {
        display: none;
    }

    /* TODO: Change logic from toggle to hover */

    .menu-header.dropdown::after {
        margin-left: 8px;
    }


    /* TODO: menu HOVER dropdown functionality */

    .backdrop.toggled {
        display: none;
    }

    /* Styling of items in the submenus */

    .submenu .item {}

    .submenu .item+.item {}

    .item.icon::before {}

    .item.icon.list::before {}

    .item.icon.calendar::before {}

    .item.icon.bell::before {}

    .item.icon.clock::before {}

    /* Mobile styling */

    .navbar {
        display: flex;
    }


    .navbar .logo {
        position: static;
        /* TODO: translate all leftover "margin-" to single-string "margin" where applicable */
        margin-top: 32px;
        margin-bottom: 30px;
        margin-right: 65px;
        margin-left: 40px;
        flex-grow: 0;
    }

    .backdrop {
        position: static;
        display: block;
        flex-direction: row;
        align-items: center;
        justify-items: space-between;
        flex-grow: 1;
    }

    .menu.main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
    }

    .menu.main-menu > * {
        margin: unset;
    }

    /* Styling of elements in the main menu */
    .menu.main-menu > :first-child, 
    .menu.main-menu > :where(ul, li) {
        visibility: visible;
        flex-grow: 0;
        display: inline-flex;
        margin: 0 38px 0 0;
    }
    
    .menu.submenu {
        visibility: hidden;
    }

    .hover:hover > .menu,
    .hover:hover > .menu > .item {
        visibility: visible;
        display: block;
    }

    .menu.main-menu .desktop-separator {
        display: inline-block;
        flex-grow: 1;
    }

    .menu.main-menu > .item-button {
        margin-right: 20px;
    }

    .menu.main-menu > li:last-of-type {
        margin-right: 42px;
    }

    /* Floating submenus */

    .navbar .hover {
        position: relative;
    }

    .navbar .hover .submenu {
        position: absolute;
        background-color: var(--clr-almost-white);
        top: 120%;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 10%);
        padding: 24px
        /* top: 0%;
        left: 0%; */
    }

    .submenu > .item {
        margin: 0;
        white-space: nowrap;
    }

    /* Intro styling */

    .intro {
        flex-direction: row;
        margin-top: 40px;
        height: var(--var-intro-h);
        /* TODO: make responsive, replace margins with flex where possible */
    }

    .intro .hero-img {
        display: flex;
        flex-direction: row;
        order: 2;
        flex-grow: 1;
        max-height: var(--var-intro-h);
        max-width: 100%;
        flex-basis: fit-content;
    }

    .intro .hero-img img.mobile {
        display: none;
    }

    .intro .hero-img img.desktop {
        display: block;
        margin: auto;
    }

    .intro .cta {
        order: 1;
        flex-shrink: 0;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        box-sizing: border-box;
        flex-grow: 0;
    }

    .intro .cta > .separator {
        flex-grow: 3;
    }

    .intro .cta > .separator:nth-of-type(1) {
        flex-grow: 5;
    }
    .intro .cta > .separator:nth-of-type(4) {
        flex-grow: 6;
    }
    .intro .cta > .separator:last-of-type {
        flex-grow: 0;
    }

    .intro .header {
        /* font-size: 84px; */
        font-size: var(--var-intro-header-fs);
        text-align: start;
        /* margin: 0 0 60px 0; */
        margin: 0;
        letter-spacing: 0.0125em;
    }

    .intro .text {
        /* font-size: 20px; */
        /* line-height: 1.6em; */
        font-size: var(--var-intro-text-fs);
        line-height: var(--var-intro-text-lh);
        text-align: start;
        /* margin: 0 0 50px 0; */
        margin: 0;
    }

    .btn {}

    .btn.bg-black {}

    .btn.bg-black:hover {}

    .btn.bg-white {}

    .btn.bg-white:hover {}

    .btn.border-black {}

    .intro .btn {
        font-size: var(--var-intro-btn-fs);
        width: var(--var-intro-btn-w);
        height: var(--var-intro-btn-h);
        margin: 0;
    }

    .intro .btn > p {
        padding-bottom: var(--var-intro-btn-pt);
    }

    .navbar .btn {
        height: 42px;
        margin-bottom: 4px;
    }

    .navbar .btn > p {
        margin-left: 23px;
        margin-right: 23px;
        padding-top: 2px;
    }

    .client-logos {
        margin: auto 0 0 0;
        justify-content: flex-start;
        font-size: var(--var-intro-logos-fs);
    }

    .client-logos > .desktop-separator {
        display: inline-block;
        flex-grow: 1;
    }

    .client-logos img:nth-child(1) {}

    .client-logos img:nth-child(2) {}

    .client-logos img:nth-child(3) {}

    .client-logos img:nth-child(4) {}





}