/* 

███    ███  ██████  ██████  ██ ██      ███████ 
████  ████ ██    ██ ██   ██ ██ ██      ██      
██ ████ ██ ██    ██ ██████  ██ ██      █████   
██  ██  ██ ██    ██ ██   ██ ██ ██      ██      
██      ██  ██████  ██████  ██ ███████ ███████ 
                                               

*/

/* Font import, variables */

html {
    font-family: 'Epilogue', sans-serif;
    --clr-almost-white: hsl(0, 0%, 98%);
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-almost-black: hsl(0, 0%, 8%);
}

p {
    margin: auto 0 auto 0;
}

/* Resetting ul, li */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

/* decorative for menu items */

.menu-header.icon-menu {
    visibility: visible;
    display: block;
    position: absolute;
    z-index: 1010;
    top: 32px;
    right: 32px;
    transform: translate(50%, -50%);
    width: 32px;
    height: 18px;
    background-image: url(../assets/icon-menu.svg);
}

.toggle.toggled > .menu-header.icon-menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon-close-menu.svg);
}

.toggle.toggled > .menu-header.dropdown::after {
    background-image: url(../assets/icon-arrow-up.svg);
}

.menu-header.dropdown::after {
    display: inline-block;
    content: ' ';
    width: 10px;
    height: 6px;
    margin-left: 18px;
    margin-bottom: 2px;
    background-image: url(../assets/icon-arrow-down.svg);
    background-size: 10px 6px;
}


/* menu toggle dropdown functionality */
.main-menu {
    visibility: hidden;
    /* height: 0; */
}
.main-menu > :where(ul, li) {
    visibility: hidden;
}

.menu > :where(ul, li) {
    display:none;
}

/* if toggle is toggled, the menu next to it gets rendered */
.toggle.toggled > .main-menu {
    visibility: visible;
}
.toggle.toggled > .menu > :where(ul, li) {
    visibility: visible;
    display: block;
}

/* Specifically for the main manu */
.toggle.toggled > .menu.main-menu {
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    top: 0%;
    right: 0%;
    /* when focused, expand menu to 100% height and  */
    width: 240px;
    height: 100%;
    z-index: 1000;
}

/* Transparent black backdrop */

.backdrop {
    /* Using visibility:hidden instead of display: none for two reasons.
    1) display: none is excluded from DOM, so its child (the icon menu-header) wouldn't be rendered
    2) toggling display on and off is costly, as the entire DOM gets re-rendered; visibility:hidden is cheaper, as the element is pre-rendered */
    visibility: hidden;
}

.backdrop.toggled {
    visibility: visible;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 30%);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

/* Styling of elements in the main menu */
.menu.main-menu > :where(ul, li) {
    margin-top: 32px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: auto;
}


/* First non-icon element in the menu gets a special place in this hell 
Good grief, this is disgusting
TODO: find a saner way to position the entire navbar or at least LOOK for a saner way */
.menu.main-menu > :first-child {
    margin-top: 82px;
}

/* Styling of items in the submenus */

.submenu .item {
    margin-top: 32px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: auto;
}

.submenu .item+.item {
    margin-top: 24px;
}

.item.icon::before {
    display: inline-block;
    content: ' ';
    margin-right: 14px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

.item.icon.list::before {
    background-image: url(../assets/icon-todo.svg);
    background-size: 20px 20px;
    margin-bottom: -3px;
}

.item.icon.calendar::before {
    background-image: url(../assets/icon-calendar.svg);
    background-size: 20px 20px;
    margin-bottom: -3px;
}

.item.icon.bell::before {
    margin-left: 2px;
    margin-right: 16px;
    width: 16px;
    background-image: url(../assets/icon-reminders.svg);
    background-size: 16px 20px;
    margin-bottom: -4px;
}

.item.icon.clock::before {
    background-image: url(../assets/icon-planning.svg);
    background-size: 20px 20px;
    margin-bottom: -4px;
}

/* Mobile styling */

body {
    background-color: var(--clr-almost-white);
}

.navbar .logo {
    width: 84px;
    height: 28px;
    margin: 24px auto 24px 17px;
}

.intro .hero-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.intro .hero-img img.desktop {
    display: none;
}

.intro .hero-img img.mobile {
    display: block;
}

.intro .header {
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: 50px auto 28px auto;
}

.intro .text {
    text-align: center;
    font-size: 16px;
    width: 90%;
    margin: auto auto 28px auto;
}

.btn {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.btn.bg-black {
    background-color: var(--clr-almost-black);
    color: var(--clr-almost-white);
    border-color: var(--clr-almost-black);
    border-width: 2px;
    border-style: solid;
}

.btn.bg-black:hover {
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
}

.btn.bg-white {
    background-color: var(--clr-almost-white);
    color: var(--clr-medium-gray);
}

.btn.bg-white:hover {
    color: var(--clr-almost-black);
}

.btn.border-black {
    border-color: var(--clr-almost-black);
    border-width: 2px;
    border-style: solid;
}

.btn.border-white {
    border-color: var(--clr-almost-white);
    border-width: 2px;
    border-style: solid;
}

.btn > p {
    /* Compensating for the font's vertical failure to center */
    line-height: 1em;
    padding-top: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro .btn {
    width: 138px;
    height: 48px;
    margin: auto auto 48px auto;
}

.navbar .btn {
    height: 50px;
    max-width: 100%;
    margin: auto;
}

.btn > p {}

.client-logos {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    /* setting fixed font-size to make all images's widths depend on it via em */
    /* font-size: 8px */
    font-size: 2.13vw;
}

.client-logos img {
    align-self: center;
    justify-self: center;
}

.client-logos img:nth-child(1) {
    /* width: 80px; */
    /* width: 21vw; */
    max-width: 10em;
}

.client-logos img:nth-child(2) {
    /* width: 52px; */
    /* width: 14vw; */
    max-width: 6.5em;
}

.client-logos img:nth-child(3) {
    /* width: 63px; */
    /* width: 17vw; */
    max-width: 7.875em;
}

.client-logos img:nth-child(4) {
    /* width: 58px; */
    /* width: 16vw; */
    max-width: 7.25em;
}

/* 

██████  ███████ ███████ ██   ██ ████████  ██████  ██████  
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██ 
██   ██ █████   ███████ █████      ██    ██    ██ ██████  
██   ██ ██           ██ ██  ██     ██    ██    ██ ██      
██████  ███████ ███████ ██   ██    ██     ██████  ██  

*/


@media (min-width: 576px) {

    .menu-header.icon-menu {
        display: none;
    }

    /* TODO: Change logic from toggle to hover */

    .menu-header.dropdown::after {
        margin-left: 8px;
    }


    /* TODO: menu HOVER dropdown functionality */

    .backdrop.toggled {
        display: none;
    }

    /* Styling of items in the submenus */

    .submenu .item {}

    .submenu .item+.item {}

    .item.icon::before {}

    .item.icon.list::before {}

    .item.icon.calendar::before {}

    .item.icon.bell::before {}

    .item.icon.clock::before {}

    /* Mobile styling */

    .navbar {
        display: flex;
    }


    .navbar .logo {
        position: static;
        /* TODO: translate all leftover "margin-" to single-string "margin" where applicable */
        margin-top: 32px;
        margin-bottom: 30px;
        margin-right: 65px;
        margin-left: 40px;
        flex-grow: 0;
    }

    .backdrop {
        position: static;
        display: block;
        flex-direction: row;
        align-items: center;
        justify-items: space-between;
        flex-grow: 1;
    }

    .menu.main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
    }

    .menu.main-menu > * {
        margin: unset;
    }

    /* Styling of elements in the main menu */
    .menu.main-menu > :first-child, 
    .menu.main-menu > :where(ul, li) {
        visibility: visible;
        flex-grow: 0;
        display: inline-block;
        margin: 0 38px 0 0;
    }
    
    .menu.submenu {
        visibility: hidden;
    }

    .hover:hover > .menu,
    .hover:hover > .menu > .item {
        visibility: visible;
        display: block;
    }

    .menu.main-menu > .separator {
        display: inline-block;
        flex-grow: 1;
    }

    .menu.main-menu > .item-button {
        margin-right: 20px;
    }

    .menu.main-menu > li:last-of-type {
        margin-right: 42px;
    }

    /* Floating submenus */

    .navbar .hover {
        position: relative;
    }

    .navbar .hover .submenu {
        position: absolute;
        background-color: var(--clr-almost-white);
        border-radius: 15px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 10%);
        padding: 24px
        /* top: 0%;
        left: 0%; */
    }

    .submenu > .item {
        margin: 0;
        white-space: nowrap;
    }

    /* Intro styling */

    /* TODO: figure out how to make it look better and why the damned image doesn't want to get smaller */

    .intro {
        flex-direction: row;
    }

    .intro .hero-img {
        order: 2;
        flex-shrink: 1;
        max-height: 80vh;
        flex-basis: fit-content;
        flex-grow: 0;
    }

    .intro .hero-img img.mobile {
        display: none;
    }

    .intro .hero-img img.desktop {
        display: block;
        margin: auto;
    }

    .intro .cta {
        order: 1;
        flex-shrink: 0;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        box-sizing: border-box;
    }

    .intro .header {
        font-size: 64px;
        text-align: start;
        margin: 110px 0 60px 0;
    }

    .intro .text {
        font-size: 18px;
        text-align: start;
        margin: 0 0 50px 0;
    }

    .btn {}

    .btn.bg-black {}

    .btn.bg-black:hover {}

    .btn.bg-white {}

    .btn.bg-white:hover {}

    .btn.border-black {}

    .intro .btn {
        margin: 0 0 auto 0;
        width: 163px;
        height: 56px;
    }

    .navbar .btn {
        height: 42px;
        margin-bottom: 4px;
    }

    .navbar .btn > p {
        margin-left: 23px;
        margin-right: 23px;
        padding-top: 2px;
    }

    .client-logos {
        margin: auto 0 0 0;
        justify-content: flex-start;
    }

    .client-logos img {
        margin-right: 1em;
    }

    .client-logos img:nth-child(1) {}

    .client-logos img:nth-child(2) {}

    .client-logos img:nth-child(3) {}

    .client-logos img:nth-child(4) {}

}